<div class="card flex justify-content-center">
  <p-image
    src="assets/poster.png"
    alt="Poster"
    [imageStyle]="{
      height: '65vh',
      margin: '15px',
      'margin-top': '25px',
      'box-shadow': '7px 7px 3px rgb(0, 0, 0, .6)',
      'border-radius': '10px'
    }"
  ></p-image>
</div>
<div class="card flex flex-wrap gap-3 justify-content-center">
  <p
    class="m-0"
    style="max-width: 50vw; color: white; text-align: center; font-size: 20px"
  >
    This is the fantasy text browser game created by Mykyta
    <p-image
      src="assets/signature.png"
      alt="Poster"
      [imageStyle]="{
          height: '3vh',
        }"
    ></p-image>
    Khylko by using ChatGPT on 2023. The story of this game is about a few
    characters and their path through a big kingdom to destroy a giant dragon.
    In this game, the player can choose options for actions and select options
    in dialogs.
  </p>
</div>
<div class="card flex flex-wrap gap-3 justify-content-center">
  <button class="start-button" (click)="start()">START GAME</button>
</div>
