<div class="card flex justify-content-center gap-2">
  <p-toast position="top-center" key="tc"></p-toast>
</div>
<div
  *ngIf="isLoading"
  class="card flex justify-content-center align-items-center"
  style="height: 100vh"
>
  <p-progressSpinner></p-progressSpinner>
</div>
<div *ngIf="!isLoading" class="game-container">
  <h2 class="title">Epilogue</h2>
  <div *ngFor="let data of epilogueData">
    <div *ngFor="let parag of data.mainText">
      <p>{{ parag }}</p>
    </div>
  </div>
  <div class="card flex justify-content-center gap-2">
    <button class="next-chapter-button" (click)="toNextChapter()">
      <span class="next-chapter-button-text">To start...</span>
    </button>
  </div>
</div>
